*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
img{
    max-width: 100%;
}
.container-small{
    width: 60%;
    margin: 0 auto;
    margin-top: 50px;
    max-width: 1100px;
}
.container-large{
    width:80%;
    margin: 0 auto;
    max-width: 1100px;
}


/* Utilities */
.sales{
    text-align: center; 
    margin: 0 20px; 
}
.hr-small{
    width: 50px;
}
.hr-large{
    width: 100px;
}
.logo{
    width: 120px; 
    margin-right: 40px; 
    margin-top: 5px
}
.center{
    text-align: center;
}
.mg-top{
    margin-top: 30px;
}
.mg-top-2{
    margin-top: 150px;
}
.mg{
    margin: 30px 0;
}
.mg-left{
    margin-left: 30px;
}
.mg-bottom{
    margin-bottom: 30px;
}
.fa-check{
    color: blue;
}
.mg-right{
    margin-right: 20px;
}
.no-a{
    text-decoration: none;
    color: inherit;
}
a{
    color: blue;
}
ul{
    list-style: none;
}
.ul-no{
    list-style: none;
    display: flex;
}
p{
    font-size: 20px;
}
h1{
    font-size:80px;
    margin-bottom: 50px;
}
h3{
    margin-bottom: 20px;
}
h4{
    margin-bottom: 20px;
}
h2{
    font-size: 30px;
    margin-bottom: 50px;
}
.fa-arrow-down{
    font-size: 50px;
    margin-top: 50px; 
    cursor: pointer;
}
.bg-blue{
    padding: 10px 20px;
    background-color: blue;
    color: white;
}


/* inizio header */
.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.nav{
    display: flex;
    padding: 20px;
}
.first-list{
    margin-right: 30px;
    margin-top: 10px;
}
.bg-blue:hover{
    color: black;
    background-color: red;
    text-decoration: underline;
}
.first-list:hover{
    text-decoration: underline;
}


/* sezione hero*/
.first{
    background-color:hsl(206.4deg 50% 80.39%);
    display: flex;
}
.element{
    width: 100%;
    margin-top: 50px;
}


/* plans section */
.margin-icons{
    margin-top: 20px;
}
hr{
    margin: 30px 0;
}
.check-mg{
    margin-bottom: 20px;
}
.second-main{
    display: flex;
}
.title-check{    
    width: 100%;
    min-height: 150px;
}
.header-col{
    text-align: center;
    padding: 10px;
}
.card-section{
    margin:20px
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
}
.col{
    width: 30%;
    border: 1px solid black; 
}


/* Sales Section */
.third{
    width: 100%;
    border: 1px solid black;
    margin: 100px 0;
}
.enterprise{
    width: 70%;
}
.en-col{
    display: flex;
    margin-left: 20px;
    margin-bottom: 40px;

}


 /* Partner Section */
.fourth{
    display: flex;
    margin-bottom: 100px;
    width: 100%;
}
.col30{
    width: 30%;
}
.col40{
   width: 40%;
}
.col60{
    width: 60%;
}
.partner{
    background-color: white;
    padding: 10px 20px;
    box-shadow: 2px 2px 2px  black;
}


/* Card Section */
.title-2{
    width: 100%;
    min-height: 100px;
    margin-bottom: 20px;
}
.row-2{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%; 
    }

.card{
    width: calc(95%/3);
    min-height: 400px;
    margin-bottom: 40px;
}
.title-3{
    margin-bottom: 40px;
    display: flex;
}


 /* inizio footer */
.footer{
    background-color: black;
    width: 100%;
    padding-bottom: 100px;
}
.col-footer{
    width: 20%;
    min-height: 250px;
    color: white;
    margin-top: 100px;
}
.language{
    color: gray;
}
